        </div>
    
        <div id="tdr_2_col_nav">
            <span id="site-logo">
            <!-- This is where a department logo or graphic would go, positioned above the left-navigation. -->
            <logo/>
            </span>
            
            <div class="styled">
                <h2>SFAC</h2>
                <ul id="page_nav">
                    {% if page.url == about_url %}
                    <li class="active">About</li>
                    {% else %}
                    <li><a href="{{ site.baseurl }}about/">About</a></li>
                    {% endif %}
                    {% if page.url == meetings_url %}
                    <li class="expanded active">Meetings
                    {% elsif subpage == meetings_subpage %}
                    <li class="expanded"><a href="{{ site.baseurl }}meetings/">Meetings</a>
                    {% else %}
                    <li class="collapsed"><a href="{{ site.baseurl }}meetings/">Meetings</a>
                    {% endif %}
                    <ul>
                        {% if page.url == meetings_agendas_url %} 
                        <li class="active">Agendas</li>
                        {% else %}
                        <li><a href="{{ site.baseurl }}meetings/agendas/">Agendas</a></li>
                        {% endif %}
                        {% if page.url == meetings_minutes_url %} 
                        <li class="active">Minutes</li>
                        {% else %}
                        <li><a href="{{ site.baseurl }}meetings/minutes/">Minutes</a></li>
                        {% endif %}
                    </ul>
                    </li>
                    {% if page.url == fees_url %}
                    <li class="active">Student Fees</li>
                    {% else %}
                    <li><a href="{{ site.baseurl }}fees/">Student Fees</a></li>
                    {% endif %}
                    {% if page.url == recommendations_url %}
                    <li class="active">Recommendations</li>
                    {% else %}
                    <li><a href="{{ site.baseurl }}recommendations/">Recommendations</a></li>
                    {% endif %}
                    {% if page.url == contact_url %}
                    <li class="active">Contact</li>
                    {% else %}
                    <li><a href="{{ site.baseurl }}contact/">Contact</a></li>
                    {% endif %}
                    {% if page.url == members_url %}
                    <li class="active">Members</li>
                    {% else %}
                    <li><a href="{{ site.baseurl }}members/">Members</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- End Navigation -->
    </div>
</div>
<!-- footer -->
<div id="tdr_footer">
    <div id="tdr_footer_content">
        <div id="tdr_address">
            <span id="tdr_address_place">UC San Diego</span>
            <span id="tdr_address_street">9500 Gilman Dr.</span>
            <span id="tdr_address_city_state_zip">La Jolla, CA 92093</span>
            <span id="tdr_address_phone">(858) 534-2230</span>
        </div>
        <div id="tdr_copyright">
            Copyright ©<span id="tdr_copyright_year">2012</span> Regents of the University of California. All rights reserved.
        </div>
    
        <ul id="tdr_footer_links">
            <li><a href="http://www.ucsd.edu/_about/legal/index.html">Terms &amp; Conditions</a></li>
            <li id="tdr_footer_feedback"><a href="http://www-act.ucsd.edu/cwp/feedback/tool/cwo">Feedback</a></li>
        </ul>
    
        <!-- shib timeout -->
        <img src="https://a4.ucsd.edu/tritON/imagebug" alt=" " style="display: none;" />

        <!-- Insert Google Analytics code here if you have an account -->
    </div>
</div>
</body>
</html>
