<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>Sample Home Page</title>
<meta charset="utf-8"/>
    <meta content="initial-scale=1" name="viewport"/>
    <title>Student Fee Advisory Committee - {{ page.title }}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="University of California, San Diego" name="ORGANIZATION"/>
    <meta content="index,follow,noarchive" name="robots"/>
    <meta content="Student Fee Advisory Committee, {{ page.title }}" name="PAGETITLE"/>
    <meta content="{{ summary }}" name="DESCRIPTION"/>
<link href="http://ucsd.edu/common/cwp/active-cherry/base-min.css" rel="stylesheet"/>
<link href="http://ucsd.edu/common/cwp/active-cherry/cms-min.css" rel="stylesheet"/>
<!--[if IE 6]>
<link rel="stylesheet" href="http://www.ucsd.edu/common/cwp/active-cherry/png-min.css">
<![endif]-->
<script src="http://ucsd.edu/common/cwp/active-cherry/base-min.js"></script>
<script src="http://ucsd.edu/common/cwp/active-cherry/cms-min.js"></script>
<!--[if IE 6]>
<script src="http://www.ucsd.edu/common/cwp/active-cherry/png-min.js"></script>
<![endif]-->
<!-- Site-specific CSS files -->
<link href="{{ site.baseurl }}css/site.css" media="all" rel="stylesheet" type="text/css"/>
<!-- Site-specific javascript files -->
</head>
<body>     
<!-- emergency banner will be enabled in the event of a campuswide emergency -->
<div id="uc-emergency"></div>
<!-- If you want a login strip to appear above the header if user is logged into SSO -->
<div id="tdr_login">
    <!-- Start page controls -->
    <span class="tdr_login_content"></span>
    <!-- End page controls -->
</div>
<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
        $.ajax({
            url: "https://a4.ucsd.edu/tritON/resources/bugscript.jsp?target=https%3A%2F%2Fwww.ucsd.edu&jsoncallback=?",
            dataType: 'jsonp',
            jsonpCallback: 'a4sso',
            success: function(data) {
                if (data.eduUcsdActLoggedin) {
                    var url = "<div id=\"tdr_login_content\">You are logged in | <a href=\"<decorator:getProperty property='meta.ssologout.url' default='/security/logout' />?url=";
                    url += "<decorator:getProperty property='meta.logout.url' default='http://www.ucsd.edu' />";
                    url += "\">Log Out</a></div>";
                    $("#tdr_login").empty();
                    $("#tdr_login").append(url);
                    $("#tdr_login").attr("style", "display:block");
                }
            },
            error: function(jqXHR, textStatus) {
                console.log("error trying to communicate with a4 sso: " + textStatus);
            }
        });
        });
    })(jQuery);
</script>
<div id="tdr_title">
    <div id="tdr_title_content">
        <a href="http://www.ucsd.edu" id="tdr_title_ucsd_title">UC San Diego</a> 
        <div id="tdr_title_page_title">
            <a href="{{ site.baseurl }}">Student Fee Advisory Committee</a>
        </div>
        <a class="search-button" id="tdr_title_search_link">Search</a>
        <a id="tdr_title_menu_link">Menu</a>
    </div>
</div>
<div id="tdr_nav">
    <div id="tdr_nav_content">
        <ul id="tdr_nav_list">
            {% capture about_url %}/about/index.html{% endcapture %}
            {% capture meetings_url %}/meetings/index.html{% endcapture %}
            {% capture meetings_agendas_url %}/meetings/agendas/index.html{% endcapture %}
            {% capture meetings_minutes_url %}/meetings/minutes/index.html{% endcapture %}
            {% capture fees_url %}/fees/index.html{% endcapture %}
            {% capture recommendations_url %}/recommendations/index.html{% endcapture %}
            {% capture contact_url %}/contact/index.html{% endcapture %}
            {% capture members_url %}/members/index.html{% endcapture %}
            {% capture subpage %}/{{ page.url | remove_first:"/" | remove:"/index.html" | split:"/" | first }}/{% endcapture %}
            {% capture meetings_subpage %}/meetings/{% endcapture %}
            <li{% if page.url == about_url %} class="active"{% endif %}><a href="{{ site.baseurl }}about/">About</a></li>
            <li{% if subpage == meetings_subpage %} class="active"{% endif %}><a href="{{ site.baseurl }}meetings/">Meetings</a>
                <ul>
                    <li><a href="{{ site.baseurl }}meetings/agendas/">Agendas</a></li>
                    <li><a href="{{ site.baseurl }}meetings/minutes/">Minutes</a></li>
                </ul>
            </li>
            <li{% if page.url == fees_url %} class="active"{% endif %}><a href="{{ site.baseurl }}fees/">Student Fees</a></li>
            <li{% if page.url == recommendations_url %} class="active"{% endif %}><a href="{{ site.baseurl }}recommendations/">Recommendations</a></li>
            <li{% if page.url == contact_url %} class="active"{% endif %}><a href="{{ site.baseurl }}contact/">Contact</a></li>
            <li{% if page.url == members_url %} class="active"{% endif %}><a href="{{ site.baseurl }}members/">Members</a></li>
        </ul>
    </div>
</div>
<div id="tdr_search">
    <div id="tdr_search_content">
        <form action="http://www-act.ucsd.edu/cwp/tools/search-redir" method="get">
            <label for="search-scope">Search</label>
            <select id="search-scope" name="search-scope">
                <!-- Uncomment if you have a Site-specific search
                <option selected="selected" value="INSERT VALUE HERE">This Site</option>
                -->
                <option value="default_collection">All UCSD Sites</option>
                <option value="faculty-staff">Faculty/Staff</option>
            </select>
            <label id="search-term-label">Search Term</label>
            <input id="search-term" name="search-term" size="20" type="search"/>
            <input class="search-button" type="submit" value="Search"/>
        </form>
    </div>
</div>
<div id="tdr_crumbs">
    <div id="tdr_crumbs_content">
        <ul id="tdr_crumbs_list">
            {% capture baseurl_with_index %}{{ site.baseurl }}index.html{% endcapture %}
            {% if page.url == "index.html" or page.url == site.baseurl or page.url == baseurl_with_index %}
            <li>HOME</li> 
            {% else %}
            <li><a href="{{ site.baseurl }}">HOME</a>
            {% assign crumbs = page.url | remove_first:"/" | remove:"/index.html" | split:"/" %}
            {% for crumb in crumbs %}
            &#16;</li><li>
            {% unless forloop.last %}
            <a href="{{ site.baseurl }}{{ crumbs | limit:forloop.index | join:"/" }}/">{{ crumb | upcase | remove:".html" }}</a>
            {% else %}
            {{ crumb | upcase | remove:".html" }}
            {% endunless %}
            {% endfor %}
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="tdr_fonts" id="tdr_content">
    <div id="tdr_content_content">
        <div id="tdr_2_col_content">
